/* Fonts */
$font-primary: "Poppins", sans-serif;

/* Colors */
$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);
$color-accent: hsl(248, 32%, 49%);
$color-blue: hsl(228, 45%, 44%);
$color-neutral-dark: hsl(249, 10%, 26%);
$color-neutral-greyish: hsl(246, 25%, 77%);
$color-font: hsl(0, 0%, 100%);

/* Breakpoints */
$breakpoint-mobile: 23.4375rem; /* 375px */
$breakpoint-desktop: 90rem; /* 1440px */
